/*========================================================
                      Typography
=========================================================*/
body {
  color: $default;
  font-size: 14px;
  line-height: 20px;
  font-family: $default-font;
  -webkit-text-size-adjust: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================  Headings  ======================*/
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.6px;
}

h1, .h1 {
  font-size: 36px;
  line-height: 48px;
}

h2, .h2 {
  font-size: 36px;
  line-height: 48px;
}

h3, .h3 {
  font-size: 22px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
}

/*==================  Other  ======================*/
p, .marked-list, .list {
  a:hover {
    text-decoration: underline;
  }

  .fa {
    text-decoration: none;
  }
}

time {
  display: block;
  color: $default;
  font-size: 12px;
}
u{
  text-decoration: underline;
}

a {
  cursor: pointer;
  color: $link-color;
  font-weight: 400;
  @include transition(0.4s ease all);
  &:-webkit-any-link{
    text-decoration: none;
  }
  &:hover {
    color: lighten(desaturate(adjust-hue($link-color, 0.1658), 32.8122), 24.1176); //#67a9df
  }
  &:focus {
    outline: none;
  }
  &:active {
    color: lighten(desaturate(adjust-hue($link-color, -0.0417), 33.1316), 12.1569); //#358dd4
  }
}

a[href^="tel:"],
a[href^="callto:"] {
  color: inherit;
  text-decoration: none;
}

.fa {
  line-height: inherit;
}

[class*='fa-'] {
  &:before {
    font-weight: 400;
    font-family: $fa;
  }
}

.page {
  overflow: hidden;
  .lt-ie9 & {
    min-width: 1200px;
  }
}

.center {
  text-align: center;
}

.center991 {
  @media (max-width: 991px) {
    text-align: center;
    clear: both;
  }
}

.center767 {
  @media (max-width: 767px) {
    text-align: center;
    clear: both;
  }
}

.center479 {
  @media (max-width: 479px) {
    text-align: center;
    clear: both;
  }
}

.strong, strong {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

input {
  outline: none;
}

input[type='submit'],
input[type='button']{
  cursor: pointer;
  -webkit-appearance: none;
}


address {

}


.font-style {
  &__normal {
    font-style: normal;
  }
  &__italic {
    font-style: italic;
  }
}

.display-table {
  display: table;
  width: 100%;
  &__cnt {
    display: table-cell;
    vertical-align: middle;
  }
}

.display-block {
  display: block;
}

.invisible {
  visibility: hidden;
  opacity: 0;
  @include transition(0.4s ease all);
}

.visible {
  visibility: visible;
  opacity: 1;
  @include transition(0.4s ease all);
}

.hide {
  display: none;
}

.show {
  display: block;
}