//========================================================
//                     Variables
//=========================================================
//Colors
$white: #ffffff;
$black: #000000;
$default: #666666;
$primary: #004f88;
$secondary: #0f75b1;
$link-color: #0f75b1;
$danger-color: #ff3246;
$success-color: #6eb43c;

//Backgrounds
$header-bg: tomato;
$content-bg: deepskyblue;
$footer-bg: lightgreen;

//Fonts
$default-font: 'Open Sans', sans-serif;
$linecons-font: 'Linecons';
$fa: 'FontAwesome';
$material-font: "Material Design Icons";
$icons1: "\e001", "\e000", "\e007";
$i: 0;

//$aleba-colors: #ff3246, #fac800, #6eb43c, #64aaff;
$aleba-colors: (
        color-1: #ff3246,
        color-2: #fac800,
        color-3: #6eb43c,
        color-4: #64aaff,
);
$transform-section-colors: (
        color-1: #259fe6,
        color-2: #004f88,
        color-3: #0f75b1,
        color-4: #259fe6,
);
$social-clrs: #56789c, #3b579d, #1bb2e9, #f2720c;
$social-footer-clrs: #7795c4, #526191, #e79a4b, #e16c4d, #72c2fc;