doctype html
html(lang="en")
    head
        include 00_meta/_meta
        block title
            title Главная
    body
        .page
            include 01_header/_header

            block main
                include 02_main/_main-index

            include 03_footer/_footer
        //coded by Belkins
//Links
block css
    link(rel="stylesheet" href="//js.arcgis.com/3.17/esri/themes/calcite/dijit/calcite.css")
    link(rel="stylesheet" href="//js.arcgis.com/3.17/dijit/themes/claro/claro.css")
    link(rel="stylesheet" href="//js.arcgis.com/3.17/dojox/widget/ColorPicker/ColorPicker.css")
    link(rel="stylesheet" href="//js.arcgis.com/3.17/esri/css/esri.css")
include 04_css-links/_css-links

//JS
include 05_js-links/_js-links
    block js