//nav
mixin nav-list(target, list, href)
    li
        if (target == true)
            a(target="_blank" href="#{href[x]}") !{list[x]}
        else
            a(target="" href="#{href[x]}") !{list[x]}