//
   pagination
mixin pagination(prev, next)
   .pagination
      ul.pag
         li
            a.pagCtrl #{prev}
         - for (var x = 0; x < 4; x++){
            - var i = x+1
            if (i == 1)
               li.active
                  a(href="") #{i}
            else
               li
                  a(href="") #{i}
         -}
         li
            a.pagCtrl #{next}