//sertificates
mixin sert-list(initclass, rel, title)
   li
      a(class="#{initclass}" rel="#{rel}" href="images/page-1_sert"+i+".png" title="#{title[x]}")
         img(src="images/page-1_sert-preview1.png" alt="")