@import "setings/_normalize.scss";
@import "setings/_mixins.scss";
@import "setings/_variables.scss";
//Fonts
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
//@import url(//cdn.materialdesignicons.com/1.4.57/css/materialdesignicons.min.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,cyrillic);
/*========================================================
                      Main Styles
=========================================================*/
@import "setings/_typography.scss";

.page {
  @include flexbox();
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
}

header {
  width: 100%;
}

main {
  width: 100%;
}

footer {
  width: 100%;
}

/*=======================================================
                       Main Layout
=========================================================*/
* + .offs1 {
  margin-top: 10px;
}

/*=======================================================
                        Components
=========================================================*/
.testMap {
  height: 625px;
  width: 100%;
  margin: 0;
  padding: 0;
}

//Search edit
.arcgisSearch {
  .searchGroup {
    position: absolute;
    top: 100px;
    right: 100px;
  }
  .searchBtn{
    position: absolute;
    left: 100%;
    z-index: 1;
  }
}

//==================    Imports    ======================

/* ========================================================
                     HEADER  Section
=========================================================*/
header {
  background: $header-bg;
}

/*========================================================
                     CONTENT  Section
=========================================================*/
main {
  background: $content-bg;
  min-height: 625px;
}

aside {
  background: hotpink;
}

/*==================      Well     ======================*/
.well__header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.well__footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.well__breadcrumb {
  padding-top: 120px;
  padding-bottom: 35px;
}

.well {
  padding-top: auto;
  padding-bottom: auto;
}

/*========================================================
                     FOOTER  Styles
=========================================================*/
footer {
  position: relative;
  background: $footer-bg;
}